<html>
<head>
<title>my express app</title>
</head>
<body>
<h1>add customer</h1>
<form method="POST" action="/users/add">
<label>First Name</label><br>
<input type ="text" name="first_name"><br>
<label>Last Name</label><br>
<input type ="text" name="last_name"><br>
<label>Email Id</label><br>
<input type ="text" name="email"><br>
<br><br>
<input type ="submit" value="Submit">
</form>
</body>
</html>
