<div>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded barcolor">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#" ><img src = "../../assets/pop.png" width= 70 height=70>Popcorn Time</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/dashboard'">Home <!-- <span class="sr-only">(current)</span> --></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/favourites'">Favourites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Register</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="text" placeholder ="Enter Movie" name="movie" [(ngModel)]="movie">
 <button type="button" (click)="searchMovies(movie)" class="btn btn-outline-success" [routerLink]="'/search'">Search</button>
    </form>
  </div>
</nav>
<!--card-->



 

<router-outlet></router-outlet>
<div></div>


<!--footer-->


<!-- <footer class="footer container-fluid sticky-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    <p class="Products"> Movie Rating App</p>
                    <p class="Solutions"> Book and Reviews</p>
                    <p class="Sitemap"> &copy Rahul Jain</p>
                </div>
                
                <div class="col-md-4">
                    <div class="righttext">
                        <p> About Us</p>
                        <p> Privacy</p>
                        <p> Contact Us</p>
                    </div>
                </div> -->

                <!-- <div class="col-md-4">
                    <div class="icons">
                        <a href="http://www.facebok.com">
<img src = "images/facebook.png">
</a>
                        <a href="http://www.twitter.com">
<img src = "images/twitter.png">
</a>
                        <a href="http://www.linkedin.com">
<img src = "images/linkedin.png">
</a>
                        <a href="http://www.reddit.com">
<img src = "images/reddit.png">
</a>
                    </div>
                </div> -->
            <!-- </div>
        </div>
    </footer> -->


</div>